{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact List - Projeto Final</title>

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    
    {% block css-extra %}
    {% endblock %}
</head>

<body>

    {% block header %}
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">
                <span class="oi oi-list"></span> CONTACT LIST</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">
                            <span class="oi oi-account-logout"></span> Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}
    
    {% block main %}
    {% endblock %}
    
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; Imersão 2018.1 - Fábrica de Software</span>
        </div>
    </footer>
    {% endblock %}
    
    {% block js %}
    {% endblock %}

</body>

</html>