{% extends 'base_templates/base.html' %}
{% load staticfiles %}

{% block css-extra %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block main %}
<main role="main" class="container">

  <div class="mt-5">
    <p>
      <a class="btn btn-lg btn-primary" href="edit_create.html" role="button">
        <span class="oi oi-plus"></span> NEW CONTACT</a>
    </p>
  </div>

  <hr>

  <div class="mt-5">
    <table id="table-contact" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>(83) 9 9955-6677</td>
          <td>mark@email.com</td>
          <td>
            <a class="btn btn-sm btn-warning" href="edit_create.html" role="button">
              <span class="oi oi-pencil"></span>
            </a>
            <a class="btn btn-sm btn-danger" href="#" role="button">
              <span class="oi oi-trash"></span>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>(83) 9 9955-6677</td>
          <td>jacob@email.com</td>
          <td>
            <a class="btn btn-sm btn-warning" href="edit_create.html" role="button">
              <span class="oi oi-pencil"></span>
            </a>
            <a class="btn btn-sm btn-danger" href="#" role="button">
              <span class="oi oi-trash"></span>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>(83) 9 9955-6677</td>
          <td>larry@email.com</td>
          <td>
            <a class="btn btn-sm btn-warning" href="edit_create.html" role="button">
              <span class="oi oi-pencil"></span>
            </a>
            <a class="btn btn-sm btn-danger" href="#" role="button">
              <span class="oi oi-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"></script>

<script>
  $(document).ready(function () {
    $('#table-contact').DataTable({
      responsive: {
        details: {
          display: $.fn.dataTable.Responsive.display.modal({
            header: function (row) {
              var data = row.data();
              return 'Details for ' + data[0] + ' ' + data[1];
            }
          }),
          renderer: $.fn.dataTable.Responsive.renderer.tableAll({
            tableClass: 'table'
          })
        }
      }
    });
  });
</script> 
{% endblock %}